<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Sign In</h1>
    <div class="row loginForm">
      <div class="col-md-3"><label>用户名：</label><input type="text" placeholder="请输入用户名。。。"></div>
      <div class="col-md-3"><label>密码：</label><input type="password" placeholder="请输入密码。。。"></div>
      <div class="col-md-3"><p></p></div>
    </div>
    <div><input type="button" id="loginButton" value="登录"></div>

    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/style.js"></script>
  </body>
</html>
